nav{
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 99;
}

.logo{
    font-weight: 600;
    font-size: 25px;
    color: #01aacd;
    font-family: Arial, Helvetica, sans-serif;

}

.logo font{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

.menu-list{
    list-style-type: none;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

.lastButt{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 5px 10px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

/*
.menu-list li:last-child a{
    font-weight: 300;
    padding: 5px 10px;
    background-color: #01aacd;
    transition: all 0.5s ease-in-out;
    margin-left: 2px;
    border-radius: 2px;
}*/

.menu-list li a:hover ,
.menu-list li a.active{
    background-color: #fff;
    border-radius: 2px;
    color: #000;
    transition: all 0.5s ease-in-out;
}